@media (min-width: 1200px) {
  header {
    height: 5.1vw;
  }
  header nav {
    margin-left: 14vw;
  }
  header nav ul li a {
    font-size: 1vw;
    padding: 0 1vw;
  }

  .hero-img {
    width: 60vw;
  }
  .home-hero {
    padding: 7.29vw 0 8.85vw;
    min-height: 35vw;
    h1 {
      font-size: 2.5vw;
      line-height: 3.75vw;
      margin-bottom: 3.125vw;
    }
    .btn-syntax-primary {
      font-size: 1.45vw;
      padding: 1.04vw 2.6vw;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .container {
    max-width: 85vw;
  }
  .home-about .home-about-main-desc .graylogo {
    width: 31vw;
    top: -7.3vw;
  }
  .home-about h2 {
    font-size: 2vw;
    line-height: 2.96vw;
  }
  .home-about .home-about-main-desc p {
    font-size: 1.14vw;
    line-height: 2.3vw;
  }
  .home-about .about-carousel .item .item-avatar {
    width: 7.8vw;
    height: 7.8vw;
  }
  .home-about .about-carousel .item h4 {
    font-size: 1vw;
    line-height: 1.5vw;
  }
  .home-about .about-carousel .item h6 {
    font-size: 0.85vw;
    line-height: 1.2vw;
  }
  .home-about .about-carousel {
    padding-right: 5.2vw;
  }
  .home-about .about-carousel .owl-nav button.owl-next {
    top: 4vw;
  }
  .home-about .about-carousel .owl-nav button.owl-next img {
    width: 2vw;
  }
  .home-about .home-about-bottom {
    margin-top: 9.3vw;
    margin-bottom: 8.3vw;
    h3 {
      font-size: 1.1vw;
      line-height: 1.7vw;
    }
    p {
      font-size: 1.1vw;
      line-height: 1.9vw;
    }
  }
  .home-services {
    padding: 6.25vw 0;
    h2 {
      font-size: 2.1vw;
      line-height: 3.2vw;
    }
    .service-item .service-item-img {
      height: 5vw;
    }
    .service-item h4 {
      font-size: 1.4vw;
      line-height: 1.9vw;
    }
    .home-services-desc {
      font-size: 1.1vw;
      line-height: 1.9vw;
      margin-top: 2.6vw;
      .btn-syntax-primary {
        margin-top: 2.6vw;
        font-size: 1.2vw;
        line-height: 1.9vw;
      }
    }
  }
  .home-blocks .block-item .block-content h3 {
    font-size: 1.3vw;
    line-height: 1.7vw;
  }
  .home-blocks .block-item .block-content p {
    font-size: 1vw;
    line-height: 1.7vw;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 1.9vw;
    line-height: 2.7vw;
  }
  .home-blocks .block-item.contact-block .btn-syntax-primary {
    font-size: 1.3vw;
  }
  .home-blocks {
    padding-top: 7.8vw;
    padding-bottom: 7.8vw;
  }
  footer {
    font-size: 1.1vw;
  }
  footer .nav-link img {
    width: 1.1vw;
  }
  footer .nav-link {
    font-size: 1.1vw;
  }
  footer .footer-logo {
    width: 9.3vw;
  }
  .about-hero {
    padding: 7.8vw 0;
    .hero-left {
      box-shadow: -1.5vw 1.5vw 0px rgba(0, 0, 0, 0.05);

      padding: 1.6vw 3.2vw 1.6vw 1.6vw;
      
      h1 {
        font-size: 2.5vw;
        line-height: 3.8vw;
        padding: 0vw;
        margin: 0vw 0vw 0.5vw;
      }
      p {
        font-size: 0.9vw;
        line-height: 1.6vw;
        padding: 0vw;
        margin: 0vw 0vw 0.3vw;
        
      }
    }
    .hero-right {
      padding: 3.2vw 0vw 2.1vw;
    }
  }
  .our-mission-vision {
    margin: 7.9vw 0vw 0vw;
    .container {
      top: -7.9vw;
    }
    .our-ms-box {
      padding: 2.9vw 3.2vw;
      h2 {
        font-size: 1.9vw;
        line-height: 2.9vw;
        padding: 0vw;
        margin: 0vw 0vw 1.1vw;
      }
      p {
        font-size: 1.1vw;
        line-height: 2.1vw;
        padding: 0vw;
        margin: 0vw 0vw 0.6vw;
      }
    }
  }
  .meet-our-team {
    padding: 1.6vw 0vw 7.9vw;
    .meet-header {
      margin: 0vw 0vw 3.7vw;
      h2 {
        font-size: 2.5vw;
        line-height: 3.8vw;
        padding: 0vw;
        margin: 0vw 0vw 0.3vw;
      }
      p {
        font-size: 1.4vw;
        line-height: 1.8vw;
        padding: 0vw;
        margin: 0vw 0vw 0.6vw;
      }
    }
    .member {
      h3 {
        font-size: 1.4vw;
        line-height: 2.1vw;
        padding: 0vw;
        margin: 1.1vw 0vw 0.3vw;
      }
      h4 {
        font-size: 1.1vw;
        line-height: 1.6vw;
        padding: 0vw;
        margin: 0vw 0vw 0.3vw;
      }
    }
  }
  .services-hero {
    padding: 8.4vw 0vw;
    h1 {
      font-size: 4.5vw;
      line-height: 5.4vw;
      padding: 0vw;
      margin: 0vw 0vw 0.4vw;
    }
    p {
      font-size: 1vw;
      line-height: 1.5vw;
      margin: 0vw 0vw 0.7vw;
    }
    .hero-right{
      p{
      padding: 0vw 0vw 0vw 3.2vw;

      }
    }
    &:after {
      bottom: -5vw;
      border-width: 6vw 6.5vw 0 6.5vw;
    }
  }
  .services-content {
    #pills-tab .nav-item .nav-link svg {
      height: 5vw;
      margin: 0vw 0vw 1.1vw;
    }
    h3 {
      font-size: 1.1vw;
      line-height: 1.9vw;
      padding: 0vw;
      margin: 0vw 0vw 2.1vw;
    }
    .tab-content {
      margin: 3.7vw 0vw 0vw;
      h2 {
        font-size: 1.7vw;
        line-height: 2vw;
        padding: 0vw;
        margin: 0vw 0vw 2.1vw;
      }
      p {
        font-size: 1.4vw;
        line-height: 2.9vw;
        padding: 0vw;
        margin: 0vw;
      }
    }
  }
  .contact-form {
    .contact-form-inner {
      padding: 4.5vw 3.7vw;
      h1 {
        font-size: 2.1vw;
        line-height: 3.2vw;
        margin: 0vw 0vw 0.3vw;
      }
      h3 {
        font-size: 1.2vw;
        line-height: 1.4vw;
        margin: 1.6vw 0vw 0.3vw;
      }
      p {
        font-size: 1.2vw;
        line-height: 1.8vw;
      }
      .form-control {
        padding: 1.6vw 1.1vw;
        font-size: 1.2vw;
      }
      .btn-syntax-primary.btn-o {
        font-size: 1.1vw;
        line-height: 0.6vw;
        padding: 1.5vw 2.7vw;
        margin: 1.6vw 0vw 0vw;
        border: 2px solid #fff;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 90vw;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1630px !important;
  }
  .home-hero .container {
    max-width: 85vw !important;
  }
}
@media (max-width: 1199px) {
  #logodesktop {
    display: none;
  }
  header .logo,
  header.home-header .logo {
    width: 40px;
    margin: 10px;
  }
  header .logo #logomobile {
    display: block;
    width: 100%;
  }
  header {
    height: auto;

    .mobile-menu {
      background: transparent;
      border: none;
      padding: 0 15px 0 0;
      outline: none;
      img {
        width: 30px;
      }
    }
  }

  .hero-img {
    display: none;
  }
  .home-blocks .block-item.left .block-content,
  .home-blocks .block-item.right .block-content {
    top: 0;
    left: 0;
    right: 0;
  }
  header .logo,
  header .logo svg path {
    animation: none !important;
    position: static !important;
  }
  header .logo svg #Group_1 path {
    opacity: 1;
    fill: $blue;
  }
  header .logo svg #syntax,
  header .logo svg #and,
  header .logo svg #scope {
    opacity: 1;
    animation: none !important;
  }
  .home-hero:before {
    animation: none;
    display: none;
  }
  .about-hero .hero-left:after {
    display: none;
  }
  .about-hero {
    padding: 50px 0;
    .hero-right {
      padding: 0;
      img {
        width: calc(100% - 60px);
        margin: 0 auto -140px;
        display: block;
        position: relative;
        float: none;
        top: -140px;
      }
    }
  }
  .about-hero .hero-left {
    padding: 30px 30px 150px 30px;
    h1 {
      font-size: 28px;
      line-height: 42px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .our-mission-vision .our-ms-box h2 {
    font-size: 26px;
    line-height: 35px;
  }
  .our-mission-vision .our-ms-box p {
    font-size: 16px;
    line-height: 30px;
  }
  .our-mission-vision .our-ms-box {
    padding: 30px;
  }
  .our-mission-vision .container {
    margin-bottom: -100px;
  }
  .meet-our-team .meet-header h2 {
    font-size: 32px;
    line-height: 52px;
  }
  .meet-our-team .meet-header p {
    font-size: 20px;
    line-height: 30px;
  }
  .meet-our-team .member {
    margin-bottom: 50px;
  }
  .meet-our-team .member h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .meet-our-team .member h4 {
    font-size: 18px;
  }
  .meet-our-team {
    padding-bottom: 50px;
  }
  .services-hero {
    padding: 60px 0;
    margin-bottom: 100px;
    h1 {
      font-size: 50px;
    }
    &:after {
      bottom: -45px;

      border-width: 50px 60px 0 60px;
    }
  }
  .services-content #pills-tab .nav-item .nav-link svg {
    height: 65px;
    margin-bottom: 5px;
  }
  .services-content #pills-tab .nav-item .nav-link h3 {
    font-size: 16px;
  }
  .services-content .tab-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .services-content .tab-content p {
    font-size: 18px;
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header nav {
    margin-left: 0;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0px;
  }
  .home-services .service-item .service-item-img {
    height: 65px;
  }
  .home-services .service-item h4 {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    z-index: 5050505050;
    display: flex;
    width: 100vw;
  }
  .home-about .home-about-main-desc .graylogo {
    width: 100%;
    top: 100px;
  }
  .home-about .about-carousel {
    padding-right: 0;
  }
  .home-services .service-item {
    border-right: none;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .home-hero {
    text-align: center;
  }
  header nav ul li.active:after {
    display: none;
  }
  header nav ul li {
    padding: 20px 0;
  }
  header nav {
    margin-left: 0;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 5050505050;
    background: rgba(255, 255, 255, 0.952);
    display: none;
    ul {
      height: auto !important;
      flex-direction: column;
    }
  }
  .about-hero {
    padding-top: 130px;
  }
  .services-content #pills-tab {
    flex-direction: column;
    .nav-item .nav-link {
      text-align: left;
    }
    svg {
    }
    h3 {
      display: inline;
    }
  }
  .services-content #pills-tab .nav-item .nav-link svg {
    display: inline;
    width: 30px;
    height: auto;
    margin-right: 20px;
  }
  .services-content #pills-tab .nav-item .nav-link {
    border-bottom: 2px solid #f3f3f3;
  }
  .services-content #pills-tab .nav-item .nav-link.active {
    border-bottom: 2px solid $blue;
  }
}

@media (max-width: 767px) {
  .services-hero .hero-right p
  {
    padding-left: 0;
  }
  .home-hero h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .btn-syntax-primary {
    font-size: 18px;
    padding: 15px 50px;
  }
  .home-about h2 {
    font-size: 26px;
    line-height: 50px;
  }
  .home-about .home-about-main-desc p {
    font-size: 18px;
    line-height: 35px;
  }
  .home-about .home-about-bottom h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .home-about .home-about-bottom p {
    font-size: 17px;
    line-height: 30px;
  }
  .home-about .home-about-bottom {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .home-services h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .home-services .service-item h4 {
    font-size: 20px;
    line-height: 35px;
  }
  .home-services .home-services-desc {
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
  }
  .home-services .home-services-desc .btn-syntax-primary {
    font-size: 18px;
    margin-top: 50px;
  }
  .home-blocks {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-blocks .block-item .block-content {
    padding: 30px;
  }
  .home-blocks .block-item .block-content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-blocks .block-item .block-content p {
    font-size: 16px;
    line-height: 30px;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0px;
    margin-bottom: 30px;
  }
  .home-blocks .block-item.contact-block .btn-syntax-primary {
    font-size: 20px;
  }
  footer {
    font-size: 16px;
    text-align: center;
  }
  footer .nav-item.border-right {
    border-right: none !important;
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  footer .nav-link {
    font-size: 16px;
  }
  .home-hero {
    padding: 240px 0 170px;
  }
  .about-hero {
    padding-top: 0;
  }
  .about-hero .hero-left {
    box-shadow: none;
    padding-top: 150px;
  }
  .about-hero .hero-left p {
    font-size: 16px;
    line-height: 25px;
  }
  .services-hero {
    padding-top: 150px;
    h1 {
      font-size: 28px;
    }
    img {
      width: 150px;
    }
    p {
      padding: 0;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .contact-form{
    padding-bottom: 0px;
  }
  .contact-form .contact-form-inner {
    box-shadow: none;
    padding: 30px;
    h1 {
      font-size: 28px;
      line-height: 40px;
    }
    h3 {
      font-size: 18px;
      margin-top: 10px;
    }
    p {
      font-size: 16px;
    }
  }
  .contact-form .contact-form-inner .btn-syntax-primary.btn-o{
    margin-top: 10px;
    font-size: 18px;
  }
}
