@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins:300,400,500,600,700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.btn-syntax-primary {
  font-size: 28px;
  font-weight: 500;
  color: #fff !important;
  background: #1854d0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 50px;
  border-radius: 50px;
}

.btn-syntax-primary:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(24, 84, 208, 0.5);
          box-shadow: 0px 20px 50px rgba(24, 84, 208, 0.5);
  background: #154bb9;
}

.btn-syntax-primary.btn-o {
  background: transparent;
  border: 3px solid #fff;
}

header {
  border-bottom: 3px solid #1854d0;
  height: 5.1vw;
}

header.home-header .logo {
  -webkit-animation: 0.5s logoToTop 5.3s forwards;
          animation: 0.5s logoToTop 5.3s forwards;
  width: 30vw;
  height: auto;
  position: absolute;
  z-index: 1000;
  top: 18vw;
  left: 5vw;
}

header .logo {
  width: 9vw;
  top: 1vw;
  left: 1vw;
  position: absolute;
}

header .logo #logomobile {
  display: none;
}

header .logo #logodesktop {
  width: 100%;
  overflow: visible;
  height: auto;
}

header .logo #logodesktop #Group_1 path {
  opacity: 0;
}

header .logo #logodesktop #Path_13 {
  -webkit-transform: translate(15px, 20px) rotate(90deg);
          transform: translate(15px, 20px) rotate(90deg);
  position: absolute;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: 0.3s path13 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01), 0.5s backtoblue 5.3s forwards;
          animation: 0.3s path13 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01), 0.5s backtoblue 5.3s forwards;
}

header .logo #logodesktop #Path_14 {
  -webkit-transform: translate(-26px, -33px) rotate(90deg);
          transform: translate(-26px, -33px) rotate(90deg);
  position: absolute;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: 0.3s path14 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01), 0.5s backtoblue 5.3s forwards;
          animation: 0.3s path14 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01), 0.5s backtoblue 5.3s forwards;
}

header .logo #logodesktop #Path_15 {
  -webkit-animation: 0.3s appear 3.6s forwards, 0.5s backtoblue 5.3s forwards;
          animation: 0.3s appear 3.6s forwards, 0.5s backtoblue 5.3s forwards;
}

header .logo #logodesktop #Path_16 {
  -webkit-animation: 1s animateslash 2s forwards ease, 0.3s flash 2.8s forwards, 0.5s backtoblue 5.3s forwards;
          animation: 1s animateslash 2s forwards ease, 0.3s flash 2.8s forwards, 0.5s backtoblue 5.3s forwards;
  z-index: 50050505050;
  position: relative;
  z-index: 5050;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

header .logo #logodesktop #Path_17 {
  -webkit-animation: 0.3s appear 3.3s forwards, 0.5s backtoblue 5.3s forwards;
          animation: 0.3s appear 3.3s forwards, 0.5s backtoblue 5.3s forwards;
}

header .logo #logodesktop #syntax {
  -webkit-animation: 0.3s appear 4.3s forwards;
          animation: 0.3s appear 4.3s forwards;
  opacity: 0;
}

header .logo #logodesktop #and {
  -webkit-animation: 0.3s appear 4.6s forwards;
          animation: 0.3s appear 4.6s forwards;
  opacity: 0;
}

header .logo #logodesktop #scope {
  -webkit-animation: 0.3s appear 4.9s forwards;
          animation: 0.3s appear 4.9s forwards;
  opacity: 0;
}

header nav {
  margin-left: 270px;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

header nav ul li {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li a {
  font-size: 18px;
  display: block;
  color: #707070;
  font-weight: 300;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: center;
  position: relative;
  z-index: 50000;
}

header nav ul li a:hover {
  color: #000;
}

header nav ul li.active a {
  color: #1854d0;
  font-weight: 700;
}

header nav ul li.active:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 7px 10px;
  border-color: transparent transparent #1855d0 transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hero-img {
  position: absolute;
  right: 0;
  z-index: 50;
  top: 0;
  width: 1152px;
  height: 0;
  overflow: hidden;
  -webkit-animation: 0.5s heroimg 2s forwards;
          animation: 0.5s heroimg 2s forwards;
}

.hero-img img {
  width: 100%;
}

.home-hero {
  position: relative;
  padding: 140px 0 170px;
}

.home-hero h1 {
  color: #fff;
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 60px;
  position: relative;
  opacity: 0;
  -webkit-animation: 0.8s appear 5.2s forwards;
          animation: 0.8s appear 5.2s forwards;
}

.home-hero h1 strong {
  font-weight: bold;
}

.home-hero .btn-syntax-primary {
  position: relative;
  opacity: 0;
  -webkit-animation: 0.8s appear 5.2s forwards;
          animation: 0.8s appear 5.2s forwards;
}

.home-hero:before {
  content: " ";
  background: #1854d0;
  position: absolute;
  z-index: 99999999999999999999999;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  top: -5.1vw;
  right: 9.26vw;
  width: 43.12vw;
  height: 100vh;
  -webkit-animation: 2s homehero 0s forwards ease-out, 0.4s goout 2s forwards ease-in-out;
          animation: 2s homehero 0s forwards ease-out, 0.4s goout 2s forwards ease-in-out;
}

.home-hero:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #648ee4;
  background: radial-gradient(circle, #648ee4 0%, #346de3 29%, #1854d0 100%);
  height: 100%;
  -webkit-animation: 1s bg 2s forwards;
          animation: 1s bg 2s forwards;
  z-index: -1;
  opacity: 0;
}

.home-about {
  padding-top: 17.2vw;
}

.home-about h2 {
  font-size: 38px;
  line-height: 57px;
  color: #1854d0;
  font-weight: 600;
  margin-bottom: 10px;
}

.home-about h2 span {
  color: #707070;
}

.home-about .home-about-main-desc .graylogo {
  position: absolute;
  top: -140px;
  left: 0;
}

.home-about .home-about-main-desc p {
  font-size: 22px;
  line-height: 45px;
  color: #000;
}

.home-about .about-carousel {
  padding-right: 100px;
}

.home-about .about-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  top: 80px;
  outline: none;
}

.home-about .about-carousel .item .item-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
  -webkit-box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.08);
}

.home-about .about-carousel .item h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1854d0;
  font-weight: 600;
  margin-bottom: 5px;
}

.home-about .about-carousel .item h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #707070;
  text-transform: uppercase;
}

.home-about .home-about-bottom {
  margin-top: 180px;
  margin-bottom: 160px;
}

.home-about .home-about-bottom p {
  font-size: 20px;
  line-height: 36px;
  color: #000;
}

.home-about .home-about-bottom h3 {
  font-size: 32px;
  line-height: 48px;
  color: #1854d0;
  font-weight: 600;
  margin-bottom: 10px;
}

.home-about .home-about-bottom h3 span {
  color: #707070;
}

.home-services {
  background: #648ee4;
  background: radial-gradient(circle, #648ee4 0%, #346de3 40%, #1854d0 100%);
  padding: 120px 0;
}

.home-services h2 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-bottom: 80px;
}

.home-services .service-item {
  border-right: 2px dashed rgba(0, 48, 147, 0.15);
}

.home-services .service-item:last-child {
  border-right: none;
}

.home-services .service-item .service-item-img {
  height: 90px;
  margin-bottom: 20px;
}

.home-services .service-item h4 {
  font-size: 26px;
  line-height: 35px;
  color: #fff;
  letter-spacing: 1px;
}

.home-services .home-services-desc {
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  margin-top: 50px;
}

.home-services .home-services-desc .btn-syntax-primary {
  text-transform: initial;
  font-size: 22px;
  margin-top: 50px;
}

.home-blocks {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f9f9f9;
}

.home-blocks .block-item {
  margin-top: 130px;
}

.home-blocks .block-item.left .block-content {
  -webkit-box-shadow: -25px 20px 80px rgba(0, 0, 0, 0.05);
          box-shadow: -25px 20px 80px rgba(0, 0, 0, 0.05);
  position: relative;
  top: -50px;
  left: -50px;
}

.home-blocks .block-item.right .block-content {
  -webkit-box-shadow: 25px 20px 80px rgba(0, 0, 0, 0.05);
          box-shadow: 25px 20px 80px rgba(0, 0, 0, 0.05);
  position: relative;
  top: -50px;
  right: -50px;
}

.home-blocks .block-item .block-img {
  width: 100%;
  border-radius: 6px;
}

.home-blocks .block-item .block-content {
  padding: 50px;
  border-radius: 6px;
  background: #fff;
  margin-bottom: -50px;
}

.home-blocks .block-item .block-content h3 {
  font-size: 24px;
  line-height: 32px;
  color: #1854d0;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home-blocks .block-item .block-content p {
  font-size: 18px;
  line-height: 32px;
  color: #707070;
}

.home-blocks .block-item .block-content p strong {
  color: #000;
  font-weight: 500;
}

.home-blocks .block-item.contact-block h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1854d0;
  margin-bottom: 50px;
}

.home-blocks .block-item.contact-block .btn-syntax-primary {
  font-size: 24px;
}

.home-blocks .block-item.contact-block .btn-syntax-primary img {
  margin-right: 10px;
}

footer {
  background: #003093;
  border-top: 6px solid #1854d0;
  padding: 70px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

footer .nav-item {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

footer .nav-link {
  color: #fff;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 300;
}

footer .nav-link.social {
  padding: 0 10px;
}

footer .nav-link img {
  width: 20px;
}

.about-hero {
  padding: 150px 0;
}

.about-hero .hero-left {
  height: 100%;
  background: #1854d0;
  padding: 30px 80px 30px 30px;
  position: relative;
  -webkit-box-shadow: -35px 35px 0px rgba(0, 0, 0, 0.05);
          box-shadow: -35px 35px 0px rgba(0, 0, 0, 0.05);
}

.about-hero .hero-left:after {
  content: " ";
  position: absolute;
  background: url("../assets/about-triangle.svg") no-repeat;
  height: 100%;
  width: 42%;
  top: 0;
  right: calc(-42% + 1px);
  bottom: 0;
  background-size: cover;
  background-position: top left;
}

.about-hero .hero-left h1 {
  color: #fff;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-hero .hero-left p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.about-hero .hero-right {
  height: 100%;
  width: 100%;
  padding: 60px 0 40px;
}

.about-hero .hero-right img {
  -webkit-box-shadow: 10px -5px 55px rgba(0, 0, 0, 0.16);
          box-shadow: 10px -5px 55px rgba(0, 0, 0, 0.16);
  float: right;
  max-width: 110%;
}

.our-mission-vision {
  background: #3a3a3a;
  margin-top: 150px;
}

.our-mission-vision .container {
  position: relative;
  top: -140px;
}

.our-mission-vision .our-ms-box {
  background: #fff;
  -webkit-box-shadow: 0px -20px 75px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -20px 75px rgba(0, 0, 0, 0.06);
  padding: 55px 60px;
  height: 100%;
}

.our-mission-vision .our-ms-box h2 {
  font-size: 36px;
  line-height: 55px;
  color: #1854d0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.our-mission-vision .our-ms-box p {
  font-size: 20px;
  line-height: 40px;
  color: #000;
}

.meet-our-team {
  background: #3a3a3a;
  padding-top: 30px;
  padding-bottom: 150px;
}

.meet-our-team .meet-header {
  margin-bottom: 70px;
}

.meet-our-team .meet-header h2 {
  font-weight: bold;
  font-size: 48px;
  color: #1854d0;
  text-transform: uppercase;
  line-height: 72px;
  margin-bottom: 5px;
}

.meet-our-team .meet-header p {
  font-size: 26px;
  line-height: 33px;
  color: #fff;
}

.meet-our-team .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meet-our-team .member .member-img {
  padding-bottom: 140%;
  position: relative;
  overflow: hidden;
}

.meet-our-team .member .member-img img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.meet-our-team .member h3 {
  font-size: 26px;
  line-height: 39px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}

.meet-our-team .member h4 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-hero {
  padding: 160px 0;
  background: #1854d0;
  position: relative;
  color: #fff;
  margin-bottom: 200px;
}

.services-hero:after {
  content: " ";
  position: absolute;
  bottom: -95px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 110px 0 110px;
  border-color: #1855d0 transparent transparent transparent;
  position: absolute;
}

.services-hero h1 {
  font-size: 85px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.services-hero p {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.services-hero .hero-right p {
  padding-left: 60px;
}

.services-content #pills-tab .nav-item .nav-link {
  border-bottom: 5px solid #f3f3f3;
}

.services-content #pills-tab .nav-item .nav-link svg {
  height: 95px;
  margin-bottom: 20px;
}

.services-content #pills-tab .nav-item .nav-link svg path {
  fill: #707070;
}

.services-content #pills-tab .nav-item .nav-link h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #707070;
  margin-bottom: 40px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.services-content #pills-tab .nav-item .nav-link.active {
  border-bottom: 5px solid #1854d0;
}

.services-content #pills-tab .nav-item .nav-link.active h3 {
  color: #1854d0;
}

.services-content #pills-tab .nav-item .nav-link.active svg path {
  fill: #1854d0;
}

.services-content .tab-content {
  margin-top: 70px;
  margin-bottom: 40px;
  min-height: 500px;
}

.services-content .tab-content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1854d0;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.services-content .tab-content p {
  font-size: 26px;
  line-height: 55px;
  color: #000;
  margin-bottom: 0;
}

.services-content .tab-content p img {
  width: 15px;
  margin-right: 20px;
}

.map {
  width: 100%;
}

.map iframe {
  height: 100vh;
  width: 100%;
}

.contact-form {
  position: relative;
  top: -25vh;
  margin-bottom: -25vh;
  padding-bottom: 150px;
}

.contact-form .contact-form-inner {
  background: rgba(24, 84, 208, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 85px 70px;
  -webkit-box-shadow: -35px 35px 0px rgba(0, 0, 0, 0.05);
          box-shadow: -35px 35px 0px rgba(0, 0, 0, 0.05);
}

.contact-form .contact-form-inner h1 {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-form .contact-form-inner h3 {
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  margin-top: 30px;
}

.contact-form .contact-form-inner p {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0;
}

.contact-form .contact-form-inner .form-control {
  padding: 30px 20px;
}

.contact-form .contact-form-inner .btn-syntax-primary.btn-o {
  font-size: 20px;
  margin-top: 30px;
  outline: 0;
}

.who-we-are {
  padding: 90px 0;
}

.who-we-are h1 {
  font-size: 50px;
  color: #1854d0;
  font-weight: bold;
}

.who-we-are p {
  font-size: 20px;
  line-height: 32px;
}

@-webkit-keyframes animateslash {
  0% {
    -webkit-transform: translate(21vw, 0) rotate(-25deg) scale(14);
            transform: translate(21vw, 0) rotate(-25deg) scale(14);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(360deg) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(360deg) scale(1);
    opacity: 1;
  }
}

@keyframes animateslash {
  0% {
    -webkit-transform: translate(21vw, 0) rotate(-25deg) scale(14);
            transform: translate(21vw, 0) rotate(-25deg) scale(14);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(360deg) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(360deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heroimg {
  0% {
    height: 0;
  }
  100% {
    height: 50.67vw;
  }
}

@keyframes heroimg {
  0% {
    height: 0;
  }
  100% {
    height: 50.67vw;
  }
}

@-webkit-keyframes homehero {
  0% {
    right: 200vw;
    width: 400vw;
    height: 100vh;
  }
  50% {
    right: -100vw;
    width: 400vw;
    height: 100vh;
  }
  100% {
    right: 9.26vw;
    width: 43.12vw;
    height: 100vh;
  }
}

@keyframes homehero {
  0% {
    right: 200vw;
    width: 400vw;
    height: 100vh;
  }
  50% {
    right: -100vw;
    width: 400vw;
    height: 100vh;
  }
  100% {
    right: 9.26vw;
    width: 43.12vw;
    height: 100vh;
  }
}

@-webkit-keyframes goout {
  0% {
    right: 9.26vw;
    height: 100vh;
  }
  100% {
    right: -9.26vw;
    top: calc(-100vh - 100px);
    height: 100vh;
    opacity: 0;
  }
}

@keyframes goout {
  0% {
    right: 9.26vw;
    height: 100vh;
  }
  100% {
    right: -9.26vw;
    top: calc(-100vh - 100px);
    height: 100vh;
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  from {
    top: -100px;
    left: -50px;
    opacity: 0;
  }
  to {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    top: -100px;
    left: -50px;
    opacity: 0;
  }
  to {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes backtoblue {
  to {
    fill: #1854d0;
  }
}

@keyframes backtoblue {
  to {
    fill: #1854d0;
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(2);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(2);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
            transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes path13 {
  0% {
    -webkit-transform: translate(15px, 20px) rotate(90deg);
            transform: translate(15px, 20px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-5.401px, 0px) rotate(0deg);
            transform: translate(-5.401px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes path13 {
  0% {
    -webkit-transform: translate(15px, 20px) rotate(90deg);
            transform: translate(15px, 20px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-5.401px, 0px) rotate(0deg);
            transform: translate(-5.401px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes hidescroll {
  to {
    height: auto;
    overflow-y: visible;
  }
}

@keyframes hidescroll {
  to {
    height: auto;
    overflow-y: visible;
  }
}

@-webkit-keyframes path14 {
  0% {
    -webkit-transform: translate(-26px, -33px) rotate(90deg);
            transform: translate(-26px, -33px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-5.401px, -12.795px) rotate(0deg);
            transform: translate(-5.401px, -12.795px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes path14 {
  0% {
    -webkit-transform: translate(-26px, -33px) rotate(90deg);
            transform: translate(-26px, -33px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-5.401px, -12.795px) rotate(0deg);
            transform: translate(-5.401px, -12.795px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logoToTop {
  0% {
    width: 30vw;
    top: 18vw;
    left: 5vw;
  }
  100% {
    width: 9vw;
    top: 1vw;
    left: 1vw;
  }
}

@keyframes logoToTop {
  0% {
    width: 30vw;
    top: 18vw;
    left: 5vw;
  }
  100% {
    width: 9vw;
    top: 1vw;
    left: 1vw;
  }
}

@media (min-width: 1200px) {
  header {
    height: 5.1vw;
  }
  header nav {
    margin-left: 14vw;
  }
  header nav ul li a {
    font-size: 1vw;
    padding: 0 1vw;
  }
  .hero-img {
    width: 60vw;
  }
  .home-hero {
    padding: 7.29vw 0 8.85vw;
    min-height: 35vw;
  }
  .home-hero h1 {
    font-size: 2.5vw;
    line-height: 3.75vw;
    margin-bottom: 3.125vw;
  }
  .home-hero .btn-syntax-primary {
    font-size: 1.45vw;
    padding: 1.04vw 2.6vw;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .container {
    max-width: 85vw;
  }
  .home-about .home-about-main-desc .graylogo {
    width: 31vw;
    top: -7.3vw;
  }
  .home-about h2 {
    font-size: 2vw;
    line-height: 2.96vw;
  }
  .home-about .home-about-main-desc p {
    font-size: 1.14vw;
    line-height: 2.3vw;
  }
  .home-about .about-carousel .item .item-avatar {
    width: 7.8vw;
    height: 7.8vw;
  }
  .home-about .about-carousel .item h4 {
    font-size: 1vw;
    line-height: 1.5vw;
  }
  .home-about .about-carousel .item h6 {
    font-size: 0.85vw;
    line-height: 1.2vw;
  }
  .home-about .about-carousel {
    padding-right: 5.2vw;
  }
  .home-about .about-carousel .owl-nav button.owl-next {
    top: 4vw;
  }
  .home-about .about-carousel .owl-nav button.owl-next img {
    width: 2vw;
  }
  .home-about .home-about-bottom {
    margin-top: 9.3vw;
    margin-bottom: 8.3vw;
  }
  .home-about .home-about-bottom h3 {
    font-size: 1.1vw;
    line-height: 1.7vw;
  }
  .home-about .home-about-bottom p {
    font-size: 1.1vw;
    line-height: 1.9vw;
  }
  .home-services {
    padding: 6.25vw 0;
  }
  .home-services h2 {
    font-size: 2.1vw;
    line-height: 3.2vw;
  }
  .home-services .service-item .service-item-img {
    height: 5vw;
  }
  .home-services .service-item h4 {
    font-size: 1.4vw;
    line-height: 1.9vw;
  }
  .home-services .home-services-desc {
    font-size: 1.1vw;
    line-height: 1.9vw;
    margin-top: 2.6vw;
  }
  .home-services .home-services-desc .btn-syntax-primary {
    margin-top: 2.6vw;
    font-size: 1.2vw;
    line-height: 1.9vw;
  }
  .home-blocks .block-item .block-content h3 {
    font-size: 1.3vw;
    line-height: 1.7vw;
  }
  .home-blocks .block-item .block-content p {
    font-size: 1vw;
    line-height: 1.7vw;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 1.9vw;
    line-height: 2.7vw;
  }
  .home-blocks .block-item.contact-block .btn-syntax-primary {
    font-size: 1.3vw;
  }
  .home-blocks {
    padding-top: 7.8vw;
    padding-bottom: 7.8vw;
  }
  footer {
    font-size: 1.1vw;
  }
  footer .nav-link img {
    width: 1.1vw;
  }
  footer .nav-link {
    font-size: 1.1vw;
  }
  footer .footer-logo {
    width: 9.3vw;
  }
  .about-hero {
    padding: 7.8vw 0;
  }
  .about-hero .hero-left {
    -webkit-box-shadow: -1.5vw 1.5vw 0px rgba(0, 0, 0, 0.05);
            box-shadow: -1.5vw 1.5vw 0px rgba(0, 0, 0, 0.05);
    padding: 1.6vw 4vw 1.6vw 1.6vw;
  }
  .about-hero .hero-left h1 {
    font-size: 2.5vw;
    line-height: 3.8vw;
    padding: 0vw;
    margin: 0vw 0vw 0.5vw;
  }
  .about-hero .hero-left p {
    font-size: 0.9vw;
    line-height: 1.5vw;
    padding: 0vw;
    margin: 0vw 0vw 0.5vw;
  }
  .about-hero .hero-right {
    padding: 3.2vw 0vw 2.1vw;
  }
  .who-we-are {
    padding: 4.7vw 0vw;
  }
  .who-we-are h1 {
    font-size: 2.7vw;
  }
  .who-we-are p {
    font-size: 1.1vw;
    line-height: 1.7vw;
  }
  .our-mission-vision {
    margin: 7.9vw 0vw 0vw;
  }
  .our-mission-vision .container {
    top: -7.9vw;
  }
  .our-mission-vision .our-ms-box {
    padding: 2.9vw 3.2vw;
  }
  .our-mission-vision .our-ms-box h2 {
    font-size: 1.9vw;
    line-height: 2.9vw;
    padding: 0vw;
    margin: 0vw 0vw 1.1vw;
  }
  .our-mission-vision .our-ms-box p {
    font-size: 1.1vw;
    line-height: 2.1vw;
    padding: 0vw;
    margin: 0vw 0vw 0.6vw;
  }
  .meet-our-team {
    padding: 1.6vw 0vw 7.9vw;
  }
  .meet-our-team .meet-header {
    margin: 0vw 0vw 3.7vw;
  }
  .meet-our-team .meet-header h2 {
    font-size: 2.5vw;
    line-height: 3.8vw;
    padding: 0vw;
    margin: 0vw 0vw 0.3vw;
  }
  .meet-our-team .meet-header p {
    font-size: 1.4vw;
    line-height: 1.8vw;
    padding: 0vw;
    margin: 0vw 0vw 0.6vw;
  }
  .meet-our-team .member h3 {
    font-size: 1.4vw;
    line-height: 2.1vw;
    padding: 0vw;
    margin: 1.1vw 0vw 0.3vw;
  }
  .meet-our-team .member h4 {
    font-size: 1.1vw;
    line-height: 1.6vw;
    padding: 0vw;
    margin: 0vw 0vw 0.3vw;
  }
  .services-hero {
    padding: 8.4vw 0vw;
  }
  .services-hero h1 {
    font-size: 4.5vw;
    line-height: 5.4vw;
    padding: 0vw;
    margin: 0vw 0vw 0.4vw;
  }
  .services-hero p {
    font-size: 1vw;
    line-height: 1.5vw;
    margin: 0vw 0vw 0.7vw;
  }
  .services-hero .hero-right p {
    padding: 0vw 0vw 0vw 3.2vw;
  }
  .services-hero:after {
    bottom: -5vw;
    border-width: 6vw 6.5vw 0 6.5vw;
  }
  .services-content #pills-tab .nav-item .nav-link svg {
    height: 5vw;
    margin: 0vw 0vw 1.1vw;
  }
  .services-content h3 {
    font-size: 1.1vw;
    line-height: 1.9vw;
    padding: 0vw;
    margin: 0vw 0vw 2.1vw;
  }
  .services-content .tab-content {
    margin: 3.7vw 0vw 0vw;
  }
  .services-content .tab-content h2 {
    font-size: 1.7vw;
    line-height: 2vw;
    padding: 0vw;
    margin: 0vw 0vw 2.1vw;
  }
  .services-content .tab-content p {
    font-size: 1.4vw;
    line-height: 2.9vw;
    padding: 0vw;
    margin: 0vw;
  }
  .contact-form .contact-form-inner {
    padding: 4.5vw 3.7vw;
  }
  .contact-form .contact-form-inner h1 {
    font-size: 2.1vw;
    line-height: 3.2vw;
    margin: 0vw 0vw 0.3vw;
  }
  .contact-form .contact-form-inner h3 {
    font-size: 1.2vw;
    line-height: 1.4vw;
    margin: 1.6vw 0vw 0.3vw;
  }
  .contact-form .contact-form-inner p {
    font-size: 1.2vw;
    line-height: 1.8vw;
  }
  .contact-form .contact-form-inner .form-control {
    padding: 1.6vw 1.1vw;
    font-size: 1.2vw;
  }
  .contact-form .contact-form-inner .btn-syntax-primary.btn-o {
    font-size: 1.1vw;
    line-height: 0.6vw;
    padding: 1.5vw 2.7vw;
    margin: 1.6vw 0vw 0vw;
    border: 2px solid #fff;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 90vw;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1630px !important;
  }
  .home-hero .container {
    max-width: 85vw !important;
  }
}

@media (max-width: 1199px) {
  #logodesktop {
    display: none;
  }
  header .logo,
  header.home-header .logo {
    width: 40px;
    margin: 10px;
  }
  header .logo #logomobile {
    display: block;
    width: 100%;
  }
  header {
    height: auto;
  }
  header .mobile-menu {
    background: transparent;
    border: none;
    padding: 0 15px 0 0;
    outline: none;
  }
  header .mobile-menu img {
    width: 30px;
  }
  .hero-img {
    display: none;
  }
  .home-blocks .block-item.left .block-content,
  .home-blocks .block-item.right .block-content {
    top: 0;
    left: 0;
    right: 0;
  }
  header .logo,
  header .logo svg path {
    -webkit-animation: none !important;
            animation: none !important;
    position: static !important;
  }
  header .logo svg #Group_1 path {
    opacity: 1;
    fill: #1854d0;
  }
  header .logo svg #syntax,
  header .logo svg #and,
  header .logo svg #scope {
    opacity: 1;
    -webkit-animation: none !important;
            animation: none !important;
  }
  .home-hero:before {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
  .about-hero .hero-left:after {
    display: none;
  }
  .about-hero {
    padding: 50px 0;
  }
  .about-hero .hero-right {
    padding: 0;
  }
  .about-hero .hero-right img {
    width: calc(100% - 60px);
    margin: 0 auto -140px;
    display: block;
    position: relative;
    float: none;
    top: -140px;
  }
  .about-hero .hero-left {
    padding: 30px 30px 150px 30px;
  }
  .about-hero .hero-left h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .about-hero .hero-left p {
    font-size: 18px;
    line-height: 28px;
  }
  .our-mission-vision .our-ms-box h2 {
    font-size: 26px;
    line-height: 35px;
  }
  .our-mission-vision .our-ms-box p {
    font-size: 16px;
    line-height: 30px;
  }
  .our-mission-vision .our-ms-box {
    padding: 30px;
  }
  .our-mission-vision .container {
    margin-bottom: -100px;
  }
  .meet-our-team .meet-header h2 {
    font-size: 32px;
    line-height: 52px;
  }
  .meet-our-team .meet-header p {
    font-size: 20px;
    line-height: 30px;
  }
  .meet-our-team .member {
    margin-bottom: 50px;
  }
  .meet-our-team .member h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .meet-our-team .member h4 {
    font-size: 18px;
  }
  .meet-our-team {
    padding-bottom: 50px;
  }
  .services-hero {
    padding: 60px 0;
    margin-bottom: 100px;
  }
  .services-hero h1 {
    font-size: 50px;
  }
  .services-hero:after {
    bottom: -45px;
    border-width: 50px 60px 0 60px;
  }
  .services-content #pills-tab .nav-item .nav-link svg {
    height: 65px;
    margin-bottom: 5px;
  }
  .services-content #pills-tab .nav-item .nav-link h3 {
    font-size: 16px;
  }
  .services-content .tab-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .services-content .tab-content p {
    font-size: 18px;
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header nav {
    margin-left: 0;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0px;
  }
  .home-services .service-item .service-item-img {
    height: 65px;
  }
  .home-services .service-item h4 {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    z-index: 5050505050;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  .home-about .home-about-main-desc .graylogo {
    width: 100%;
    top: 100px;
  }
  .home-about .about-carousel {
    padding-right: 0;
  }
  .home-services .service-item {
    border-right: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .home-hero {
    text-align: center;
  }
  header nav ul li.active:after {
    display: none;
  }
  header nav ul li {
    padding: 20px 0;
  }
  header nav {
    margin-left: 0;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 5050505050;
    background: rgba(255, 255, 255, 0.952);
    display: none;
  }
  header nav ul {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-hero {
    padding-top: 130px;
  }
  .services-content #pills-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-content #pills-tab .nav-item .nav-link {
    text-align: left;
  }
  .services-content #pills-tab h3 {
    display: inline;
  }
  .services-content #pills-tab .nav-item .nav-link svg {
    display: inline;
    width: 30px;
    height: auto;
    margin-right: 20px;
  }
  .services-content #pills-tab .nav-item .nav-link {
    border-bottom: 2px solid #f3f3f3;
  }
  .services-content #pills-tab .nav-item .nav-link.active {
    border-bottom: 2px solid #1854d0;
  }
}

@media (max-width: 767px) {
  .services-hero .hero-right p {
    padding-left: 0;
  }
  .home-hero h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .btn-syntax-primary {
    font-size: 18px;
    padding: 15px 50px;
  }
  .home-about h2 {
    font-size: 26px;
    line-height: 50px;
  }
  .home-about .home-about-main-desc p {
    font-size: 18px;
    line-height: 35px;
  }
  .home-about .home-about-bottom h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .home-about .home-about-bottom p {
    font-size: 17px;
    line-height: 30px;
  }
  .home-about .home-about-bottom {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .home-services h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .home-services .service-item h4 {
    font-size: 20px;
    line-height: 35px;
  }
  .home-services .home-services-desc {
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
  }
  .home-services .home-services-desc .btn-syntax-primary {
    font-size: 18px;
    margin-top: 50px;
  }
  .home-blocks {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-blocks .block-item .block-content {
    padding: 30px;
  }
  .home-blocks .block-item .block-content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-blocks .block-item .block-content p {
    font-size: 16px;
    line-height: 30px;
  }
  .home-blocks .block-item.contact-block h2 {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0px;
    margin-bottom: 30px;
  }
  .home-blocks .block-item.contact-block .btn-syntax-primary {
    font-size: 20px;
  }
  footer {
    font-size: 16px;
    text-align: center;
  }
  footer .nav-item.border-right {
    border-right: none !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
  footer .nav-link {
    font-size: 16px;
  }
  .home-hero {
    padding: 240px 0 170px;
  }
  .about-hero {
    padding-top: 0;
  }
  .about-hero .hero-left {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 150px;
  }
  .about-hero .hero-left p {
    font-size: 16px;
    line-height: 25px;
  }
  .services-hero {
    padding-top: 150px;
  }
  .services-hero h1 {
    font-size: 28px;
  }
  .services-hero img {
    width: 150px;
  }
  .services-hero p {
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
  }
  .contact-form {
    padding-bottom: 0px;
  }
  .contact-form .contact-form-inner {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 30px;
  }
  .contact-form .contact-form-inner h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .contact-form .contact-form-inner h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .contact-form .contact-form-inner p {
    font-size: 16px;
  }
  .contact-form .contact-form-inner .btn-syntax-primary.btn-o {
    margin-top: 10px;
    font-size: 18px;
  }
  .who-we-are h1 {
    font-size: 28px;
  }
  .who-we-are p {
    font-size: 18px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */