@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins:300,400,500,600,700&display=swap");
$poppins: "Poppins", sans-serif;
$gray: #707070;
$blue: #1854d0;
$darkblue: #003093;
body {
  font-family: $poppins;
  overflow-x: hidden;
}

@mixin btn_syntax_primary() {
  font-size: 28px;
  font-weight: 500;
  color: #fff !important;
  background: $blue;
  transition: all 300ms;
  text-decoration: none !important;
  display: inline-block;
  &:hover {
    box-shadow: 0px 20px 50px rgba($blue, 0.5%);
    background: darken($blue, 5%);
  }
  text-align: center;
  text-transform: uppercase;
  padding: 20px 50px;
  border-radius: 50px;
}
.btn-syntax-primary {
  @include btn_syntax_primary();
}
.btn-syntax-primary {
  &.btn-o {
    background: transparent;
    border: 3px solid #fff;
  }
}
header {
  border-bottom: 3px solid $blue;
  height: 5.1vw;
  .logo {
    width: 30vw;
    height: auto;
    position: absolute;
    z-index: 1000;
    top: 18vw;
    left: 5vw;
    animation: 0.5s logoToTop 5.3s forwards;
    svg {
      width: 100%;
      overflow: visible;
      height: auto;
      #Group_1 {
        path {
          opacity: 0;
        }
      }

      #Path_13 {
        transform: translate(15px, 20px) rotate(90deg);
        position: absolute;
        transform-box: fill-box;
        transform-origin: center;
        animation: 0.3s path13 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01),
          0.5s backtoblue 5.3s forwards;
      }
      #Path_14 {
        transform: translate(-26px, -33px) rotate(90deg);
        position: absolute;
        transform-box: fill-box;
        transform-origin: center;
        animation: 0.3s path14 4s forwards cubic-bezier(0.18, 0.02, 0, 2.01),
          0.5s backtoblue 5.3s forwards;
      }
      #Path_15 {
        animation: 0.3s appear 3.6s forwards, 0.5s backtoblue 5.3s forwards;
      }

      #Path_16 {
        // animation: 0.3s appear 3s forwards;
        animation: 1s animateslash 2s forwards ease, 0.3s flash 2.8s forwards,
          0.5s backtoblue 5.3s forwards;
        z-index: 50050505050;
        position: relative;
        z-index: 5050;
        transform-origin: center;
        transform-box: fill-box;
      }
      #Path_17 {
        animation: 0.3s appear 3.3s forwards, 0.5s backtoblue 5.3s forwards;
      }
      #syntax {
        animation: 0.3s appear 4.3s forwards;
        opacity: 0;
      }
      #and {
        animation: 0.3s appear 4.6s forwards;
        opacity: 0;
      }
      #scope {
        animation: 0.3s appear 4.9s forwards;
        opacity: 0;
      }
    }
  }
  nav {
    margin-left: 270px;
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-size: 18px;
          display: block;
          color: $gray;
          padding: 0 20px;
          text-transform: uppercase;
          text-decoration: none !important;
          text-align: center;
          &:hover {
            color: #000;
          }
        }
        &.active {
          a {
            color: $blue;
            font-weight: 700;
          }
          &:after {
            content: " ";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 7px 10px;
            border-color: transparent transparent #1855d0 transparent;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }
  }
}
.hero-img {
  position: absolute;
  right: 0;
  z-index: 50;
  top: 0;
  width: 1152px;
  height: 0;
  overflow: hidden;
  animation: 0.5s heroimg 2s forwards;

  img {
    width: 100%;
  }
}
.home-hero {
  // background: $blue;
  position: relative;
  padding: 140px 0 170px;
  h1 {
    color: #fff;
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    margin-bottom: 60px;
    position: relative;
    opacity: 0;
    animation: 0.8s appear 5.2s forwards;
    strong {
      font-weight: bold;
    }
  }
  .btn-syntax-primary {
    position: relative;

    opacity: 0;
    animation: 0.8s appear 5.2s forwards;
  }
  &:before {
    content: " ";
    background: $blue;
    position: absolute;

    transform: skewX(-20deg);
    top: -5.1vw;
    right: 9.26vw;
    width: 43.12vw;
    height: 100vh;
    animation: 2s homehero 0s forwards ease-out,
      0.4s goout 2s forwards ease-in-out;
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(100, 142, 228);
    background: radial-gradient(
      circle,
      rgba(100, 142, 228, 1) 0%,
      rgba(52, 109, 227, 1) 29%,
      rgba(24, 84, 208, 1) 100%
    );
    height: 100%;
    animation: 1s bg 2s forwards;
    z-index: -1;
    opacity: 0;
  }
}

.home-about {
  padding-top: 17.2vw;
  h2 {
    font-size: 38px;
    line-height: 57px;
    color: $blue;
    font-weight: 600;
    margin-bottom: 10px;
    span {
      color: $gray;
    }
  }
  .home-about-main-desc {
    .graylogo {
      position: absolute;
      top: -140px;
      left: 0;
    }
    p {
      font-size: 22px;
      line-height: 45px;
      color: #000;
    }
  }
  .about-carousel {
    padding-right: 100px;
    .owl-nav button.owl-next {
      position: absolute;
      right: 0;
      top: 80px;
      outline: none;
    }
    .item {
      .item-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 15px;
      }
      h4 {
        font-size: 20px;
        line-height: 30px;
        color: $blue;
        font-weight: 600;
        margin-bottom: 5px;
      }
      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $gray;
        text-transform: uppercase;
      }
    }
  }
  .home-about-bottom{
    margin-top: 180px;
    margin-bottom: 160px;
    p{
      font-size: 20px;
      line-height: 36px;
      color:#000;
    }
    h3 {
      font-size: 32px;
      line-height: 48px;
      color: $blue;
      font-weight: 600;
      margin-bottom: 10px;
      span {
        color: $gray;
      }
    }
  }
}
.home-services{
  background: rgb(100, 142, 228);
  background: radial-gradient(
    circle,
    rgba(100, 142, 228, 1) 0%,
    rgba(52, 109, 227, 1) 29%,
    rgba(24, 84, 208, 1) 100%
  );
  padding:120px 0;
  h2{
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color:#FFF;
    margin-bottom: 80px;
  }
  .service-item{
    border-right: 2px dashed rgba($darkblue,0.15);
    &:last-child{
      border-right: none;
    }
    .service-item-img{
      height: 90px;
      margin-bottom: 20px;
    }
    h4{
      font-size: 26px;
      line-height: 35px;
      color:#FFF;
      letter-spacing: 1px;
    }
  }
  .home-services-desc{
    font-size: 20px;
    line-height: 36px;
    color:#FFF;
    margin-top: 50px;
    .btn-syntax-primary{
      text-transform: initial;
      font-size: 22px;
      margin-top: 50px;
      &:hover{
        background: rgba($blue,0.8);
      }
    }
  }
}
@keyframes animateslash {
  0% {
    transform: translate(21vw, 0) rotate(-25deg) scale(14);
    opacity: 0;
  }

  100% {
    transform: translate(-5.394px, -5.424px) rotate(360deg) scale(1);
    opacity: 1;
  }
}

@keyframes bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroimg {
  0% {
    height: 0;
  }
  100% {
    height: 50.67vw;
  }
}
@keyframes homehero {
  0% {
    right: 200vw;
    width: 400vw;
    height: 100vh;
  }
  50% {
    right: -100vw;
    width: 400vw;
    height: 100vh;
  }

  100% {
    right: 9.26vw;
    width: 43.12vw;
    height: 100vh;
  }
}

@keyframes goout {
  0% {
    right: 9.26vw;
    height: 100vh;
  }
  100% {
    right: -9.26vw;
    top: calc(-100vh - 100px);
    height: 100vh;
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    top: -100px;
    left: -50px;
    opacity: 0;
  }
  to {
    left: 0;
    top: 0;
    opacity: 1;
  }
}
@keyframes backtoblue {
  to {
    fill: $blue;
  }
}

@keyframes flash {
  0% {
    transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-5.394px, -5.424px) rotate(0) scale(2);
    opacity: 0.5;
  }
  100% {
    transform: translate(-5.394px, -5.424px) rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes path13 {
  0% {
    transform: translate(15px, 20px) rotate(90deg);
  }
  100% {
    transform: translate(-5.401px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes path14 {
  0% {
    transform: translate(-26px, -33px) rotate(90deg);
  }
  100% {
    transform: translate(-5.401px, -12.795px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoToTop {
  0% {
    width: 30vw;
    top: 18vw;
    left: 5vw;
  }
  100% {
    width: 9vw;
    top: 1vw;
    left: 1vw;
  }
}

@media (min-width: 1200px) {
  header {
    height: 5.1vw;
  }
  header nav {
    margin-left: 14vw;
  }
  header nav ul li a {
    font-size: 1vw;
    padding: 0 1vw;
  }
 
   .container {
    max-width: 85vw;
  }
  .hero-img {
    width: 60vw;
  }
  .home-hero {
    padding: 7.29vw 0 8.85vw;
    min-height: 35vw;
    h1 {
      font-size: 2.5vw;
      line-height: 3.75vw;
      margin-bottom: 3.125vw;
    }
    .btn-syntax-primary {
      font-size: 1.45vw;
      padding: 1.04vw 2.6vw;
    }
  }
}
